@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Space Grotesk";
    src: local("../fonts/SpaceGrotesk-VariableFont_wght.ttf"),
      url(../fonts/SpaceGrotesk-VariableFont_wght.ttf) format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: "Raleway";
    src: local("../fonts/Raleway-VariableFont_wght.ttf"),
      url(../fonts/Raleway-VariableFont_wght.ttf) format("truetype");
    font-display: swap;
  }

  h1 {
    @apply text-4xl md:text-4xl lg:text-5xl xl:text-6xl font-bold;
  }

  h2 {
    @apply text-3xl md:text-3xl lg:text-3xl xl:text-4xl font-medium;
  }

  h3 {
    @apply text-2xl md:text-2xl font-bold;
  }

  p,
  span {
    font-family: "Raleway", system-ui, sans-serif;
  }
}

.pale-yellow-bg {
  background-color: #fff5e9;
}

.cobalt-blue {
  color: #0e3ea4;
}

.very-dark-blue {
  color: #1b235a;
}
